:root {
  --color-primary: #18A0FB;
  --color-destructive: #F24822;
  --color-disabled: #B2B2B2;
  --color-dark: #333333;
  --color-white: #FFFFFF;
}

* {
  font-family: 'Inter';
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.input__field:not(.input__field:focus) {
  border: 1px solid var(--black1);
}